<div class="top-img">
    <img src="../../assets/cartop.jpg" alt="car top image">
</div>
<div class="img-text">
    <h1>Find Your Travel Buddy</h1>
    <p>Carpooling with your coworkers has several benefits that can make your daily commute easier, more cost-effective, and even more enjoyable. First and foremost, carpooling reduces the number of cars on the road, which helps to reduce traffic congestion and air pollution. By sharing a ride with your colleagues, you also save money on gas and parking fees, which can add up over time. Additionally, carpooling allows you to socialize with your coworkers, making the commute more enjoyable and providing an opportunity to build stronger relationships with your colleagues. Carpooling can also reduce stress and fatigue associated with driving, as you can alternate driving duties and avoid the need to navigate through traffic every day. Overall, carpooling with your coworkers is a smart and sustainable way to improve your daily commute while also benefiting the environment and your wallet.</p>
</div>
